@page "/dashboard"
@using Microsoft.AspNetCore.Components.Routing
@using CS_MilanJoshi.Models

<h1> Welcome admin!</h1>

<div class="container">
    <h1>Test Heading</h1>
</div>

<style>

    .l-inputs {
        width: 300px;
    }

    .btn.btn-primary {
        background-color: red;
        color: white;
        border: none;
        padding: 10px 20px;
    }
</style>